################################################################################
# Visual Studio
################################################################################

**/.vs/*
**/.vscode/*

# Include ignored files
!**/.vs/launch.vs.json

################################################################################
# CMake
################################################################################

**/__build*/
**/__install*/
**/__output*/
